# CS 181 - Final Project: Web Service API's 
## Data Acquisition Notebook

Authors: Lucas Tran & Amna Khalid

Date: 12/16/2019

In [1]:
import json
import requests
import pandas as pd
import sqlalchemy as sa
%load_ext sql

In [2]:
#load in the json file that has users' data
with open("spotify.json", "r") as file:
    creds = json.load(file)

## Functions abstracting the work needed to get data from a provider endpoint

In [3]:
def getUsername():
    '''
    Parameters: none
    Purpose: this functions returns a list of user name from the json file
    Return: username - a list of user name
    '''
    username = [] #username list
    for item in creds['spotify']['users']: #for loop to get the username list
        username.append(item)
    return username

In [4]:
def getAccessToken():
    '''
    Parameters: none
    Purpose: this function gets the new access tokens from the refresh token from the creds file
    Return: access - a list of access token, username - list of username
    '''
    #create two result lists
    access = []
    refresh = []
    #this url is from spotify website
    url1 = 'https://accounts.spotify.com/api/token'

    #create a bodyparams, with blank refresh token (so we can replace it with a for loop)
    bodyparams = {'client_id':'9e6455bc1d7d454b9e16ba1001252001',
                  'client_secret':'f6eb1de058334c249f98b2df14a09833',
                  'grant_type': 'refresh_token', 
                  'refresh_token': '',
                  'redirect_uri':'https://localhost/callback/',
                  'scope': 'user-follow-read user-top-read user-read-recently-played user-library-read'}
    username = getUsername() #get the list of username
    
    for item in creds['spotify']['users']: #get the refresh token from creds file
        refresh.append(creds['spotify']['users'][item]['refresh_token'])
    for item in refresh: #get the new access token by performing a post request using refresh token
        bodyparams['refresh_token'] = item
        resp = requests.post(url1, data=bodyparams)
        access.append(resp.json()['access_token'])
    return access, username

In [5]:
def getData(url):
    '''
    Parameters: url - the url corresponding to the scope of data (from spotify website)
    Purpose: this functions returns a dictionary of data from the url and access token
    Return: data - dictonary of data
    '''
    data = {} #dict of return data
    access, username = getAccessToken() #get list of access token & username
    for index in range(len(access)): #get the data by performing a get request to the spotify server with the given url
        headerAccess = {"Authorization": "Bearer " + access[index]}
        resp = requests.get(url, headers = headerAccess)
        data[username[index]] = resp.json()
    return data

## Functions for organizing the data into normalized dataframes

In [6]:
def getFollowingArtists():
    '''
    Parameters: none
    Purpose: this function creates a tidy data frame of users' following artists
             from the data dictionary (accquired from getData function)
    Return: df - data frame of users' following artists
    '''
    url = 'https://api.spotify.com/v1/me/following?type=artist'
    followingArtists = getData(url) #get the raw data
    username = getUsername() #get the username list
    list1 =[]
    for i in range(len(username)):
        u = username[i] #for loop ilterates though each username
        for i, item in enumerate(followingArtists[u]['artists']['items']): #match username with the username in data
            genre = item['genres']
            name = item['name']
            popu = item['popularity']
            x = [u,name, popu,genre]
            list1.append(x) #list of data
    columns= {0:'username', 1:'artist name', 2:'popularity', 3:'genres'} #column name
    df = pd.DataFrame(list1) #get the data fram
    df.rename(columns=columns, inplace=True)
    
    #export the raw data as json file, as requested by the professor
    with open('followingArtists.json', 'w') as outfile:
        json.dump(followingArtists, outfile)
    
    return df

In [7]:
def getSavedTracks():
    '''
    Parameters: none
    Purpose: this function creates a tidy data frame of users' saved tracks
             from the data dictionary (accquired from getData function)
    Return: df - data frame of users' saved tracks
    '''
    url = 'https://api.spotify.com/v1/me/tracks'
    savedTracks = getData(url) #get the raw data
    username = getUsername() #get the username list
    list3 =[]
    listx= []
    for i in range(len(username)):
        u = username[i]
        for i, item in enumerate(savedTracks[u]['items']): #match username with the username in data
            genre = item['track']['artists'][0]
            name = item['track']['name']
            x = x = [u,name]
            list3.append(x) #list of data
            listx.append(genre)
    that = pd.DataFrame(list3) #create a data frame
    listxdf = pd.DataFrame(listx) #create a data frame
    listxdf.drop(['external_urls','href','type','uri'], axis=1, inplace=True)
    columns12= {0: 'username', 1:'song name', 'id':'id', 'name':' artist name'} #columns name
    result1 = pd.concat([that, listxdf], axis=1, join='inner') #join them togther
    result1.rename(columns=columns12, inplace=True)
    
    #export the raw data as json file, as requested by the professor
    with open('savedTracks.json', 'w') as outfile:
        json.dump(savedTracks, outfile)
        
    return result1

In [8]:
def getTopTracks():
    
    '''
    Parameters: none
    Purpose: this function creates a tidy data frame of users' top tracks
              from the data dictionary (accquired from getData function)
    Return: df - data frame of users' top tracks
    '''
    
    url = 'https://api.spotify.com/v1/me/top/tracks'
    topTracks = getData(url) # get the data
    username = getUsername() #get the username list
    
    
    lista =[]
    listb= []
    listc= []
    for i in range(len(username)):
        u = username[i]
        for i, item in enumerate(topTracks[u]['items']):#match username with the username in data
            genre = item['name']
            name = item['artists'][0]
            date = item
            x = [u]
            lista.append(name)
            listb.append(x)
            listc.append(date)
    names = pd.DataFrame(lista)
    columns1= {0: 'username', 1:'song name', 'id':'id', 'name':' artist name'} #columns name
    names.drop(['id','external_urls','href','type','uri'], axis=1, inplace=True) #drop unecessary columns
    names.rename(columns={'name':'Artistname'}, inplace=True)
    deft = pd.DataFrame(listc)
    #drop uneccesary columns
    deft.drop(['id','album','artists','external_urls','href','disc_number','external_ids','is_local', 'preview_url','type', 'track_number','uri'], axis=1, inplace=True)
    deft.rename(columns={'name':'song_name'}, inplace=True)
    ddx = pd.DataFrame(listb)
    columns15= {0: 'username'}
    result45 = pd.concat([names,deft,ddx], axis=1, join='inner') #join them all together
    result45.rename(columns=columns1, inplace=True)
    
    #export the raw data as json file, as requested by the professor
    with open('topTracks.json', 'w') as outfile:
        json.dump(topTracks, outfile)
    
    return result45

In [9]:
def getSpotify():
    '''
    Parameters: none
    Purpose: this function creates a tidy data frame of spotify
        from the data accquired from spotify website
    Return: df - data frame of spotify
    '''
    #spotify charts 
    spotme = pd.read_csv("regional-global-daily-latest.csv") #read in the csv
    hello = spotme.iloc[0] 
    spotme.rename(columns=hello, inplace=True)
    spotme = spotme[1:]
    spotme.drop(['URL'], axis=1, inplace=True) #drop url column
    return spotme

## Functions for dropping/creating tables and populating database tables with the results in sqlalchemy

In [10]:
def createConnection():
    '''
    Parameters: none
    Purpose: this function creates a connection to the sql server
    Return: connection - the connection that can be used to connect to sql sql server
    '''
    
    template = 'mysql+mysqlconnector://{}:{}@hadoop2.mathsci.denison.edu/{}'
    cstring = template.format('khalid_a1', 'khalid_a1','khalid_a1') #username & password
    engine = sa.create_engine(cstring) #create engine
    connection = engine.connect() #get the connection
    %load_ext sql
    %sql $cstring
    return connection

In [11]:
def createTable():
    '''
    Parameters: none
    Purpose: this functions creates tables on the sql server, drop if tables already existed
    Return: connection - the connection that can be used to connect to sql sql server
    '''
    
    connection = createConnection() #get the connection
    #the following are drop table if exists sql
    jesus1= """DROP TABLE IF EXISTS TOPTRACKS;
    """
    hell = """DROP TABLE IF EXISTS SPOTIFYCHARTS;
    """
    no  = """DROP TABLE IF EXISTS followingArtists;
    """
    hey = """DROP TABLE IF EXISTS savedTracks;
    """
    #execute the sql
    connection.execute(jesus1)
    connection.execute(hell)
    connection.execute(no)
    connection.execute(hey)
    
    #create toptracks table on the sql server
    jesus2= """CREATE TABLE TOPTRACKS(
       Int_ind INT     NOT NULL,
       ARTIST_NAME VARCHAR (70)     NOT NULL,
       available_markets  VARCHAR (80)     NOT NULL,
       duration_ms INT     NOT NULL,
       explicit VARCHAR (80)     NOT NULL,
       song_name VARCHAR (80)     NOT NULL,
       popularity INT     NOT NULL,
       USERNAME   VARCHAR(20)              NOT NULL,
       PRIMARY KEY (Int_ind, USERNAME)
    );"""
    connection.execute(jesus2)
    
    #create spotifychart table on the sql server
    jesus3= """CREATE TABLE SPOTIFYCHARTS(
       Position   INT              NOT NULL,
       Track_Name VARCHAR (70)     NOT NULL,
       Artist  VARCHAR (80)     NOT NULL,
       Streams INT     NOT NULL,
       PRIMARY KEY (Position)
    );"""
    connection.execute(jesus3)
    
    #create followingArtists table on the sql server
    jesus4= """CREATE TABLE followingArtists(
       Int_ind INT     NOT NULL,
       Username   VARCHAR (80)           NOT NULL,
       Artist  VARCHAR (80)     NOT NULL,
       Popularity INT     NOT NULL,
       Genre VARCHAR (200)      NOT NULL

    );"""
    connection.execute(jesus4)
    
    #create savedtracks table on the sql server
    jesus5= """CREATE TABLE savedTracks(
       Int_ind INT     NOT NULL,
       Username   VARCHAR (20)           NOT NULL,
       Song_name  VARCHAR (80)     NOT NULL,
       ID VARCHAR (80)     NOT NULL,
       Artist VARCHAR (80)      NOT NULL,
       PRIMARY KEY (Int_ind, Username)
    );"""
    connection.execute(jesus5)
    return connection

In [12]:
def insert_df(conn,  what, ARTIST_NAME, available_markets, duration_ms, explicit, song_name, popularity, USERNAME):
    '''
    Paramters:
        - conn: the connection to the sql server
        - what, ARTIST_NAME, available_markets, duration_ms, explicit, song_name, popularity, USERNAME: data in each cell
            of corresponding columms (for each row)
    Purpose: this functions pushes the data to existing table on the sql server 
    Return: none
    '''
    #sql ready to format to insert a row of data
    genius = """INSERT INTO TOPTRACKS (Int_ind, ARTIST_NAME, available_markets, duration_ms, explicit, song_name, popularity, USERNAME) VALUES ({}, {}, {}, {}, {}, {}, {}, {});"""
    #insert a row of data
    geniusme = genius.format(what, ARTIST_NAME, available_markets, duration_ms, explicit, song_name, popularity, USERNAME)
    conn.execute(geniusme)
    
def populate_data(conn, df):
    '''
    Paramters: 
        - conn: the connection to the sql server
        - df: the input dataframe
    Purpose: this function call the above function to insert every single row of data to the existing table on the sql server
    Return: none
    '''
     #get a row of data
    what = 0
    for i in range(len(df)):
        what = what +1
        x= ''
        row = df.iloc[i]
        for i in row[1]:
            x =  x + str(i)+', '
            s = x[:-2]
            #insert that row to the server using above function
        insert_df(conn, what, '"'+row[0]+'"', '"'+s+'"', row[2], row[3], '"'+row[4]+'"', row[5], '"'+row[6]+'"')

In [13]:
def insert_df2(conn, Position, Track_name, Artist, Streams):
    '''
    Paramters:
        - conn: the connection to the sql server
        - Position, Track_name, Artist, Streams:  data in each cell of corresponding columms (for each row)
    Purpose: this functions pushes the data to existing table on the sql server 
    Return: none
    '''
     #sql ready to format to insert a row of data
    genius = """INSERT INTO SPOTIFYCHARTS (Position, Track_name, Artist, Streams) VALUES ({}, {}, {}, {});"""
    #insert a row of data
    geniusme = genius.format(Position, Track_name, Artist, Streams)
    conn.execute(geniusme)
    
def populate_data2(conn, df): 
    '''
    Paramters: 
        - conn: the connection to the sql server
        - df: the input dataframe
    Purpose: this function call the above function to insert every single row of data to the existing table on the sql server
    Return: none
    '''
     #get a row of data
    for i in range(len(df)):
        row = df.iloc[i]
        #insert that row to the server using above function
        insert_df2(conn, row[0], '"'+row[1]+'"', '"'+row[2]+'"', row[3])

In [14]:
def insert_df3(conn, what, Username, Artist, Popularity,  Genre):

    '''
    Paramters:
        - conn: the connection to the sql server
        - what, Username, Artist, Popularity,  Genre: data in each cell of corresponding columms (for each row)
    Purpose: this functions pushes the data to existing table on the sql server 
    Return: none
    '''
     #sql ready to format to insert a row of data
    genius = """INSERT INTO followingArtists (Int_ind, Username,  Artist, Popularity, Genre) VALUES ({}, {}, {}, {}, {});"""
    #insert a row of data
    geniusme = genius.format(what, Username, Artist, Popularity, Genre)
    conn.execute(geniusme)
    
    
def populate_data3(conn, df): 
    '''
    Paramters: 
        - conn: the connection to the sql server
        - df: the input dataframe
    Purpose: this function call the above function to insert every single row of data to the existing table on the sql server
    Return: none
    '''
    what = 0
    #get a row of data
    for i in range(len(df)):
        what = what+i
        row = df.iloc[i]
        x = ""
        for i in row[3]:
            x =  x + str(i)+', '
            s = x[:-2]
        #insert that row to the server using above function
        insert_df3(conn, what, '"'+row[0]+'"', '"'+row[1]+'"', row[2], '"'+s+'"' )

In [15]:
def insert_df4(conn, what, Username,  Song_name, ID, Artist):

    '''
    Paramters:
        - conn: the connection to the sql server
        - what, Username,  Song_name, ID, Artist: data in each cell of corresponding columms (for each row)
    Purpose: this functions pushes the data to existing table on the sql server 
    Return: none
    '''
     #sql ready to format to insert a row of data
    genius = """INSERT INTO savedTracks (Int_ind, Username,  Song_name, ID, Artist) VALUES ({}, {}, {}, {}, {});"""
    #insert a row of data
    geniusme = genius.format(what, Username,  Song_name, ID, Artist)
    conn.execute(geniusme)
    
    
def populate_data4(conn, df):
    '''
    Paramters: 
        - conn: the connection to the sql server
        - df: the input dataframe
    Purpose: this function call the above function to insert every single row of data to the existing table on the sql server
    Return: none
    '''
    what = 0
    #get a row of data
    for i in range(len(df)):
        what = what +i
        row = df.iloc[i]
        #insert that row to the server using above function
        insert_df4(conn, what, '"'+row[0]+'"', '"'+row[1]+'"', '"'+row[2]+'"', '"'+row[3]+'"' )

In [16]:
def firstGraphData():
    '''
    Parameters: none
    Purpose: this function gets the data using the query that we created, stores that inside a data frame 
    and export it into csv file
    Return: the resulting dataframe
    '''
    #create a query
    query = """SELECT SPOTIFYCHARTS.Track_Name, SPOTIFYCHARTS.Artist, SPOTIFYCHARTS.Streams FROM savedTracks inner join SPOTIFYCHARTS 
    on SPOTIFYCHARTS.Track_Name = savedTracks.Song_name;
    """
    #execute the query and put it into a data frame
    resultset = %sql $query
    resultdf = resultset.DataFrame()
    #export the data frame to csv file
    resultdf.to_csv(r"first.csv")
    return resultdf

In [17]:
def secondGraphData():
    '''
    Parameters: none
    Purpose: this function gets the data using the query that we created, stores that inside a data frame 
    and export it into csv file
    Return: the resulting dataframe
    '''
    query = """SELECT DISTINCT SPOTIFYCHARTS.Artist, followingArtists.popularity FROM followingArtists inner join SPOTIFYCHARTS 
    on SPOTIFYCHARTS.Artist = followingArtists.Artist
    ORDER BY followingArtists.popularity DESC;
    """
    #execute the query and put it into a data frame
    resultset = %sql $query
    resultdf = resultset.DataFrame()
    #export the data frame to csv file
    resultdf.to_csv(r"second.csv")
    return resultdf

In [18]:
def thirdGraphData():
    '''
    Parameters: none
    Purpose: this function gets the data using the query that we created, stores that inside a data frame 
    and export it into csv file
    Return: the resulting dataframe
    '''
    
    query = """SELECT *
    FROM (SELECT  count(Genre) as Number FROM followingArtists WHERE Genre LIKE '%pop%') as pop 
    UNION
    SELECT * 
    FROM (SELECT  count(Genre) as Number FROM followingArtists WHERE Genre LIKE '%rap%') as rap 
    UNION
    SELECT *
    FROM (SELECT  count(Genre) as Number FROM followingArtists WHERE Genre LIKE '%house%') as edm
    UNION 
    SELECT *
    FROM (SELECT count(Genre) as Number FROM followingArtists WHERE Genre LIKE '%rock%') as rock;
    """
    #execute the query and put it into a data frame
    resultset = %sql $query
    resultdf = resultset.DataFrame()
    resultdf.insert(0, "Genre", ['Pop', 'Rap','EDM', 'Rock'], True)
    #export the data frame to csv file
    resultdf.to_csv(r"third.csv")
    return resultdf

In [19]:
def main():
    '''
    Calls all the functions at once
    '''
    connection = createTable()
    
    result45 = getTopTracks()
    populate_data(connection, result45)
    
    spotme = getSpotify()
    populate_data2(connection, spotme)
    
    df = getFollowingArtists()
    populate_data3(connection, df)
    
    result1 = getSavedTracks()
    populate_data4(connection, result1)
    
    firstGraphData()
    
    secondGraphData()
    
    thirdGraphData()

In [20]:
main()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+mysqlconnector://khalid_a1:***@hadoop2.mathsci.denison.edu/khalid_a1
14 rows affected.
 * mysql+mysqlconnector://khalid_a1:***@hadoop2.mathsci.denison.edu/khalid_a1
12 rows affected.
 * mysql+mysqlconnector://khalid_a1:***@hadoop2.mathsci.denison.edu/khalid_a1
4 rows affected.

## Query Dataframes:

### Query 1:

In [21]:
firstGraphData()

 * mysql+mysqlconnector://khalid_a1:***@hadoop2.mathsci.denison.edu/khalid_a1
14 rows affected.

                                       Track_Name         Artist  Streams
0                                 Don't Start Now       Dua Lipa  2716131
1                     Goodbyes (Feat. Young Thug)    Post Malone  1415135
2       The London (feat. J. Cole & Travis Scott)     Young Thug   744227
3                             Piece Of Your Heart         MEDUZA   932190
4                               Someone You Loved  Lewis Capaldi  2900543
5                 Beautiful People (feat. Khalid)     Ed Sheeran  1774230
6                                    Dance Monkey    Tones and I  5512532
7                                         Circles    Post Malone  3251778
8                              Let Me Down Slowly  Alec Benjamin   742528
9               I Don't Care (with Justin Bieber)     Ed Sheeran  1730380
10                              Someone You Loved  Lewis Capaldi  2900543
11                                    Truth Hurts          Lizzo  1046926
12  Sunflower - Spider-Man: Into the Spider-Verse    Post Malone  2034717
13                                       Memories       Maroon 5  3253392

### Query 2:

In [22]:
secondGraphData()

 * mysql+mysqlconnector://khalid_a1:***@hadoop2.mathsci.denison.edu/khalid_a1
12 rows affected.

                 Artist  popularity
0                 Drake          98
1          Travis Scott          97
2            The Weeknd          95
3         Justin Bieber          95
4              Maroon 5          93
5          Selena Gomez          92
6                Halsey          92
7      The Chainsmokers          91
8             blackbear          90
9                Future          90
10                Lizzo          88
11  Panic! At The Disco          88

### Query 3:

In [23]:
thirdGraphData()

 * mysql+mysqlconnector://khalid_a1:***@hadoop2.mathsci.denison.edu/khalid_a1
4 rows affected.

  Genre  Number
0   Pop      64
1   Rap      24
2   EDM      21
3  Rock      20